html{
 background-color: rgb(197, 197, 190);
}
form{
    border-block-color: black;
    border-style: solid;
    text-align: center;
    
}
#heading{
    background-color:black;
    text-align: center;
    color: rgb(197, 197, 190);
    border-block-color: black;
}

button{
}
