  html{
        background-color: rgb(197, 197, 190);

  }
  form{
    border-block-color: black;
    border-style: solid;
    text-align: center;
    width: 20%;
    padding: 10px;
    
}
  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #111;
    }
    
    li {
        float: left;
    }
    
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    /* Change the link color to #111 (black) on hover */
    
    li a:hover {
        background-color: #333;
    }
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }
